<% content_for :log_content do %>
<div id="clearance" class="sign-up">
  <h1 class="simple" style="width: 20%;"><%= t('.title') %></h1>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t('.sign_in'), sign_in_path %>
    </div>
  <% end %>
</div>

<%end%>
