<%= form_for(@customer) do |customer_form| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
      <label id="li_error"><%= message %></label> <br>
      <% end %> <br>
		
    </div>
  <% end %>

  <div class="field">
    <%= customer_form.label :name %><br>
    <%= customer_form.text_field :name %>
  </div>
    <div class="field">
    <%= customer_form.label :logo %><br>
    <%= customer_form.text_field :logo %>
  </div>
  <div class="field">
    <%= customer_form.label :adress %><br>
    <%= customer_form.text_field :adress %>
  </div>
  <div class="field">
    <%= customer_form.label :country %><br>
    <%= customer_form.text_field :country %>
  </div>
  <div class="field">
    <%= customer_form.label :city %><br>
    <%= customer_form.text_field :city %>
  </div>
  <div class="field">
    <%= customer_form.label :post_code %><br>
    <%= customer_form.text_field :post_code %>
  </div>
  <div class="field">
    <%= customer_form.label :web %><br>
    <%= customer_form.url_field :web %>
  </div>
  <div class="field">
    <%= customer_form.label :mobile %><br>
    <%= customer_form.telephone_field :mobile %>
  </div>
    <div class="field">
    <%= customer_form.label :info %><br>
    <%= customer_form.text_area :info %>
  </div>
  <div class="field">
  	<%= customer_form.label :status %><br>
  	<%= customer_form.label :status, 'Active', :value => "true" %>
  	<%= customer_form.radio_button :status, true %>
  	<%= customer_form.label :status, 'Archive', :value => "false" %>
  	<%= customer_form.radio_button :status, false %>
  </div> 
  
  <p>
  <div class="actions">
    <%= customer_form.submit :onclick => "return confirm('Are you sure?')", :class=>"myButton"%>
  </div> </p>
<% end %>