<% content_for :content do %>
	<h2 class="simple"><%= @project.name %></h2><br>
	<% unless flash[:alert].nil? %>
		<div class="alert"><%= flash[:alert] %></div>
	<% end %>
	<% unless flash[:notice].nil? %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Customer:</strong>
  <%= @project.customer.name %>
</p> 
 
<p>
  <strong>Start at:</strong>
  <%= @project.start_at %>
</p> 
 
<p>
  <strong>End at:</strong>
  <%= @project.end_at %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>	
  <strong>Info:</strong>
  <div style="word-wrap: break-word; width: 70%;">
  	<%= @project.info %>
  </div>
</p>

<p>
  <strong>Status:</strong>
  <%= show_status(@project.status) %>
</p>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> <br>
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure you want to DELETE this Project?' } %><br>
<%= link_to 'Back', projects_path %>
<hr> <h1 class="simple">tasks</h1><br>

<table id="t_import" align="center" class="TFtable" style="display: block; overflow: auto; font-size: 13; font-family: 'Arial' ">
  <thead>
    <tr>
      <th>Wbs</th>
      <th>Name</th>
      <th>Supply</th>
      <th>Work(h)</th>
      <th>Start</th>
      <th>End</th>
      <th>Dur.(d)</th>
      <th>Priority</th>
      <th>state</th>
      <th>SV</th>
      <th>SPI</th>
      <th>Owner</th>
      <th>Src type</th>
      <th>Type</th>
      <th>Assign.</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody style="font-size: 11; font-family: 'Arial'">
    <% @one_tasks.each do |one_task| %>
    	
      <tr> 
      	<td align="right"><%= one_task.wbs_code %></td>
        <td style="padding-left: <%= (one_task.wbs_code.split(".").size - 1) * 20 %>px;"> <FONT style="BACKGROUND-COLOR: #8FD0FF;"><%= one_task[:task_name]%></FONT> </td>
        <td><%= one_task[:supply_name]%></td>
        <td><%= one_task[:work]%></td>
        <td><%= one_task[:start_at].strftime("%d-%m-%Y")%></td>
        <td><%= one_task[:end_at].strftime("%d-%m-%Y")%></td>
        <td><%= one_task[:duration_day]%></td>
        <td><%= one_task[:priority]%></td>
        <td><%= one_task[:state]%></td>
        <td><%= one_task[:sv]%></td>
        <td><%= one_task[:spi]%></td>
        <td><%= one_task[:owner_assign]%></td>
        <td><%= one_task[:source_type]%></td>
        <td><%= one_task[:type_t]%></td>
        <td><%= one_task[:assignment]%></td>
        <!-- <div style="color: red; font"> -->
        <td style="font-size: 16;"><%= link_to '&Xi;'.html_safe, one_task_path(one_task), {:class => 'import_link_to'} %></td>
        <td style="font-size: 16;"><%= link_to '&#9998;'.html_safe, edit_one_task_path(one_task), {:class => 'import_link_to'}%></td>
        <td style="font-size: 16;"><%= link_to '&#10006;'.html_safe, one_task, :class => 'import_link_to' ,method: :delete, data: { confirm: 'Are you sure you want to DELETE this Project?' }  %></td>
        <!-- </div> -->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= button_to 'Import tasks', import_one_task_path(@project.id), :method => :get, :class=>"myButton" %>
<hr><h1 class="simple">milestones</h1><br>
<table id="t_import" align="center" class="TFtable" style="display: block; overflow: auto; font-family: 'Arial'">
  <thead style="">
    <tr>
      <th>Name</th>
      <th>Work(h)</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration(d)</th>
      <th>Priority</th>
      <th>state</th>
      <th>Owner</th>
      <th colspan="9">Type</th>
    </tr>
  </thead>

  <tbody style="font-size: 13;">
    <% @one_tasks_milestone = @one_tasks.where(milestone: true) %>
    <% @one_tasks_milestone.each do |one_task_m| %>
      <tr> 
        <td><%= one_task_m[:task_name]%></td>      <!-- style="padding-left: 20px;" -->
        <td><%= one_task_m[:work]%></td>
        <td><%= one_task_m[:start_at]%></td>
        <td><%= one_task_m[:end_at]%></td>
        <td><%= one_task_m[:duration_day]%></td>
        <td><%= one_task_m[:priority]%></td>
        <td><%= one_task_m[:state]%></td>
        <td><%= one_task_m[:owner_assign]%></td>
        <td><%= one_task_m[:type_t]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%end%>