<%= form_for(@role) do |role_form| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
      <label id="li_error"><%= message %></label> <br>
      <% end %> <br>
		
    </div>
  <% end %>
  
	<% unless flash[:alert].nil? %>
		<div class="alert"><%= flash[:alert] %></div>
	<% end %>
	<% unless flash[:notice].nil? %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>  
  
  <div class="field">
    <%= role_form.label :user%><label id="select_help"> Choose user for your role</label><br>  
  	<%= role_form.select :user_id, options_for_select(@users.map{ |s| [s.full_name, s.id] })%>
  </div>
  <div class="field">
    <%= role_form.label :project%><label id="select_help"> Choose project for your role</label><br>  
  	<%= role_form.select :project_id, options_for_select(@projects.map{ |s| [s.name, s.id] })%>
  </div>
  
  <% if current_user.level == "VE" %>
  	<p>
    	<input type="button" onclick="setSpecialRole()" value="as Project manager" , class="myButton"><br>
    	<%= fields_for :object do |timer_form| %>
  			<%= timer_form.text_field  :special , {:id => "special_role_label", :onkeyup => 'setSpecialRole()'}%>
  		<% end %>
    	<%= role_form.hidden_field :special, {:id => "special_role_field", :onkeyup => 'setSpecialRole()'} %>	
    </p> 
  <% end %>	
  
  <div class="field">
    <%= role_form.label :r_name %> 
    
    <br>
    <%= role_form.text_area :r_name %>
  </div>
  <div class="field">
    <%= role_form.label :state %><br>
    <%= role_form.text_area :state %>
  </div>
  <div class="field">
    <%= role_form.label :start_at %><br>
    <%= role_form.date_field :start_at %>
  </div>
  <div class="field">
    <%= role_form.label :end_at %><br>
    <%= role_form.date_field :end_at %>
  </div>
  
  <p>
  <div class="actions">
    <%= role_form.submit :onclick => "return confirm('Are you sure?')", :class=>"myButton"%>
  </div> </p>
<% end %>