	<% unless flash[:alert].nil? %>
		<div class="alert"><%= flash[:alert] %></div>
	<% end %>
	<% unless flash[:notice].nil? %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
	
<table align="center" id="t_special" style="width: 100%;">
  <thead>
    <tr id="t_project_menu">
      <th>Name</th>
      <th>Role</th>
      <th>State</th>
      <th>Start at</th>
      <th>End at</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
  	<%print "FFFFFFFF #{@roles.size} FFFFFFFFFff"%>
    <% @roles.each do |role| %>
    	
      <tr id="t_project" class="<%= role.project.status %>">        
        <td = ""><%= role.project.name %></td>
        <td><%= role.r_name %></td>
        <td><%= role.state %></td>
        <td><%= role.start_at %></td>
        <td><%= role.end_at %></td>
        <td><%= link_to '&Xi;'.html_safe, project_path(role.project), {:class => 'icon'}%></td>
        <% if current_user.level == "VE" || (current_user.level == "PM" && role.user_id != current_user.id && User.find(role.user_id).level != "VE") %>
        	<td><%= link_to '&#9998;'.html_safe, edit_role_path(role), {:class => 'icon'}%></td>
        <%end%>
        <td>
        	<% @roles_tasks = @user.roles.where(project_id: role.project.id).where.not(task_id: nil) %>
        	<% if @roles_tasks.any? %>
        	<table id="t_sub_special" style="width: 100%;">
  				<thead>
    				<tr id="t_subtask_menu">
      					<th>Task</th>
      					<th>Role</th>
      					<th>state</th>
      					<th>Start at</th>
      					<th>End at</th>
      					<th colspan="5"></th>
    				</tr>
  				</thead>

  				<tbody>			  
  				  <% @roles_tasks.each do |r| %>
      				<tr id="t_subtask">        
        				<td><%= r.task.one_task.task_name %></td>
        				<td><%= r.r_name %></td>
        				<td><%= r.state %></td>
        				<td><%= r.start_at %></td>
        				<td><%= r.end_at %></td>
        				<td style="width: 40px;"><%= link_to '&Xi;'.html_safe, one_task_path(r.task.one_task), {:class => 'icon'}%>
        				<% if current_user.level == "VE" || (current_user.level == "PM" && r.user_id != current_user.id && User.find(role.user_id).level != "VE") %>
        						<%= link_to '&#9998;'.html_safe, edit_role_path(r), {:class => 'icon'}%>
        					<% end %>
        				</td>
      				</tr>
				  <% end %>
  				</tbody>
			</table>
			<% end %>
        	
        </td>
      </tr>
    <% end %>
  </tbody>
</table>